{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <br>
    <div class="main-content-inner">
        <div class="row">

            <div class="col-lg-10 offset-lg-1 mt-7">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Own Products</h4>
                        <div class="single-table">
                            <div class="table-responsive">
                                <table class="table text-center">
                                    <thead class="text-uppercase bg-success">
                                    <tr class="text-white">
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">date</th>
                                        <th scope="col">price</th>
                                        <th scope="col">amount</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">-</th>
                                        <th scope="col"><small>Template</small></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <th scope="row">{{product.id}}</th>
                                        <td>{{ product.name }}</td>
                                        <td>{{product.createdAt|date("m/d/Y")}}</td>
                                        <td>{{product.price}} <small>grn</small></td>
                                        <td>{{product.amount}}</td>
                                        <td><a class="btn badge-light" href="{{ path('admin_product_edit', { 'id': product.id }) }}"><i class="fa fa-external-link"></i></a></td>
                                        <td>{{  include('product/_delete_form.html.twig' , { 'id': product.id }) }}</td>
                                        <td><a class="btn badge-light" href="{{ path('admin_template_add', { 'id': product.id }) }}"><i class="fa fa-external-link"></i></a></td>

                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- table success end -->
            <!-- table info start -->

        </div>
    </div>
{% endblock %}
